<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>637778906466-5dfkk68vq3tb9gttk8akqcon56qlotni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637778906466-5dfkk68vq3tb9gttk8akqcon56qlotni</string>
	<key>API_KEY</key>
	<string>AIzaSyAyFEVEJUFaAdDAcxDGf88zo4DwYFzM5bo</string>
	<key>GCM_SENDER_ID</key>
	<string>637778906466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liveinternational.app</string>
	<key>PROJECT_ID</key>
	<string>live-international</string>
	<key>STORAGE_BUCKET</key>
	<string>live-international.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:637778906466:ios:dc724f4483928279</string>
	<key>DATABASE_URL</key>
	<string>https://live-international.firebaseio.com</string>
</dict>
</plist>
