<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Live</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb278956509502444</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>21.0</string>
	<key>FacebookAppID</key>
	<string>278956509502444</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookCodelessDebugLogEnabled</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>Live</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>please allow application to use media.</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow your camera it will be useful in profile picture, experience images etc.</string>
	<key>NSContactsUsageDescription</key>
	<string>Please allow Live to use your contacts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please allow your location it will be useful for showing exeprince address in google map</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow your location it will be useful for showing tour address in google map.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>please allow application to user microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow your gallery it will be useful in profile picture, experience images etc</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UberClientID</key>
	<string>jzySUsoO-fz3RoEAZy7srWXqf7Rkzx9Y</string>
	<key>UberDisplayName</key>
	<string>Live</string>
	<key>UberServerToken</key>
	<string>JA.VUNmGAAAAAAAEgASAAAABwAIAAwAAAAAAAAAEgAAAAAAAAG8AAAAFAAAAAAADgAQAAQAAAAIAAwAAAAOAAAAkAAAABwAAAAEAAAAEAAAANNBCRwKAgJ_e7aZQ54hu45sAAAA7BEhdRnQtCUcLgdo18mCP39J_adHlXC7hBBd4MZz_OIqa07bWxdYVo6zq9vtBzWhVcYppdTLIUvNB06r5xhSdsFcjqjnbvEcUnWP9XxOZ5HE0TW_ojcWEioCKZ4PmjKVe9BRXyFZGU9HmFR8DAAAAILRYeaZdcFoGn7bSyQAAABiMGQ4NTgwMy0zOGEwLTQyYjMtODA2ZS03YTRjZjhlMTk2ZWU</string>
</dict>
</plist>
